<div class="row index">
  <h2>注文履歴一覧</h2>
  <div class="alt-table-responsive">
    <table class="table table-bordered">
      <tr>
        <th class="col-xs-2">注文日</th>
        <th class="col-xs-3">配送先</th>
        <th class="col-xs-2">注文商品</th>
        <th class="col-xs-1">支払金額</th>
        <th class="col-xs-2">ステータス</th>
        <th class="col-xs-2">注文詳細</th>
      </tr>
      <tr>
        <td>2019/11/5(仮)</td>
        <td>
          1500041(仮) <%#= @order.postcode %><br>
          東京都渋谷区神南1丁目19-11 パークウェースクエア2 4階(仮) <%#= @order.address %><br>
          山田花子(仮) <%#= @order.destination %> <%#= @order.shipping_cost %>
        </td>
        <td>
          いちごのショートケーキ(仮)<br>
          ガトーショコラ(仮)
        </td>
        <td>2,300(仮) <%#= (@order.invoice).to_i + (@order.shipping_cost).to_i %></td>
        <td>入金確認(仮)</td>
        <td><Button class="btn btn-primary">表示する</button> <%#= link_to "表示する", order_path, class: "btn btn-pramary" %></td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>

</div>