<div class="height thanks">
  <div class="text-center">
    <h3 id="thanks">ご購入ありがとうございました！</h3>
    <button id="omikuji">私たちからの些細なプレゼントです！</button>
    <div class="present">
      <%= image_tag 'takadadaimaru.png' %>
      <p>TakadaDaimaru Corporation 4人組</p>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#omikuji').click(function() {
      $('.present').addClass("text-active")
    });
  });
</script>