<div class="types serch type-case">
	<h4 class="color fas fa-search">ジャンル検索</h4>

	<% types.each do |type| %>
	  <ul class="types-ul"><li class="types-li"><%= link_to type.name, items_path(types_id: type.id), class: "types-a" %></li></ul>
	<% end %>
</div>